@{
    ViewBag.Title = "Home Page";
}

@ViewBag.cpuerror
<script>
    window.onload = function () {
        var button = document.getElementById('clickButton');
        setInterval(function () {
            button.click();
        }, 30000);  // this will make it click again every 1000 miliseconds
    };
</script>
<form action="#" method="post">
    <input type="submit" value="Başlat" id="clickButton" />
</form>
Download rate = @TempData["rate"] kb/sec<br />

RAM = @TempData["ram"]  MB <br />

CPU = @TempData["cpu"] %